<div class="rofl-banner">
    <h1>Работяги проекта</h1>
</div>

<div class="deviz alert alert-primary">
  <p id="devizSlova">Проект – это черновик будущего</p>
</div>

<div class="card-deck">
  <div class="card text-white bg-warning mb-3 h-50">
<!--    <img [src]=imageOshik class="card-img-top">-->
    <div class="card-body">
      <h5 class="card-title">Слейманов Ашир</h5>
      <p class="card-text">Собирал проекты в один проект в первой части(фронтенд), делал бэк сторону</p>
      <button type="button" class="btnOshik btn btn-light"><a href="https://t.me/ushermanz" class="awka">Ссылка на телеграмм</a></button>
    </div>
  </div>
  <div class="card text-white bg-danger mb-3 h-50">
<!--    <img [src]=imageAlbina class="card-img-top">-->
    <div class="card-body">
      <h5 class="card-title">Исмагулова Альбина</h5>
      <p class="card-text">Авторизация, регистрация, бэк сторону делала</p>
      <button type="button" class="btnAlbina btn btn-light"><a href="https://t.me/a130201" class="awka">Ссылка на телеграмм</a></button>
    </div>
  </div>
  <div class="card text-white bg-success mb-3 h-50">
<!--    <img [src]=imageYelaman class="card-img-top">-->
    <div class="card-body">
      <h5 class="card-title">Султан Еламан</h5>
      <p class="card-text">Занимался дизайном сайта, добавление картинок, слов, и создавал отдельные страницы</p>
      <button type="button" class="btnYelaman btn btn-light"><a href="https://t.me/neznaayu" class="awka">Ссылка на телеграмм</a></button>
    </div>
  </div>
</div>
