<div class="rofl-banner">
  <div class="row">
    <div class="img-wrap">
      <img src="https://i0.wp.com/images-prod.healthline.com/hlcmsresource/images/topic_centers/heart_disease/1296x728-essential-oil.jpg?w=1155&h=1528" style="width:1320px; height:500px">
      <h1>GBB cosmetics is the beginning of something more<br>This is a renowned brand that expands its wings in manufacturing a variety of skincare items. Lipsticks, blushes, and body washes from this brand are popular amongst ladies as they offer excellent results. You can explore abundant shades and hues of lipsticks from GBB cosmetics.</h1>
    </div>
  </div>
</div>
