h1 {
  font-family: "Felix Titling", cursive;
  font-size: 30px;
  margin-bottom: 50px;
  margin-left: 330px;
  text-align: center;
  top:10px;
  overflow-y:hidden;
  height:70%;
  color: #ffffff;
}
.img-wrap {
  position: relative;
  margin-bottom: 50px;
}
.img-wrap h1 {
  position: absolute;
  left: 250px;
  bottom:100px;
  width: 50%;
  margin-bottom: 100px;
}
.rofl-banner {
  margin-top: 45px;
}
