.newImg {
  margin-left: 165px;
  margin-top: 30px;
  height: 350px;
  width: auto;
}
/*.contain-details {*/
/*  margin-left: 415px;*/
/*  margin-top: -350px;*/
/*  width: 530px;*/
/*  height: 350px;*/
/*  font-size: 18px;*/
/*  color: black;*/
/*}*/
.description {
  margin-left: 165px;
  width: 780px;
  top: 5px;
  font-size: 18px;
  color: black;
}
h2{
  margin-left: 500px;
}
h4{
  font-size: 40px;
  margin-left: 500px;
  border-color: #f80808;
  border-style: solid;
  border-width: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  transition: 0.3s;
  width: 200px;
}
/*.ngModule {*/
/*  position: absolute;*/
/*  top: 102px;*/
/*  left: 960px;*/
/*  width: 340px;*/
/*  height: 350px;*/
/*}*/

/*.bg {*/
/*  !* The image used *!*/
/*  background-image: url("http://art-ucoz.ru/_ld/0/97574662.jpg");*/
/*  !* Full height *!*/
/*  height: 100%;*/
/*  !* Center and scale the image nicely *!*/
/*  background-position: center;*/
/*  background-repeat: no-repeat;*/
/*  background-size: cover;*/
/*}*/
/*#txtArea {*/
/*  margin-left: 143px;*/
/*  border: 1px solid gray;*/
/*  font-size: 18px;*/
/*  border-radius: 5px;*/
/*}*/
/*#commentWord {*/
/*  margin-left: 160px;*/
/*  font-size: 18px;*/
/*  font-family: sans-serif;*/
/*}*/
/*.submitCom {*/
/*  margin-left: 825px;*/
/*}*/
/*.comment-control {*/
/*  height: auto;*/
/*}*/

/*.comment-list {*/
/*  margin-top: 15px;*/
/*  margin-left: 142px;*/
/*  width: 788px;*/
/*  border: 2px solid gray;*/
/*}*/
/*#avatarLogo {*/
/*  width: 60px;*/
/*  height: 60px;*/
/*  margin-left: 4px;*/
/*}*/
/*#usernameCom {*/
/*  font-size: 15px;*/
/*  font-family: sans-serif;*/
/*  position: absolute;*/
/*  bottom: 30px;*/
/*  left: 110px;*/
/*}*/
/*#textCom {*/
/*  font-size: 15px;*/
/*  font-family: sans-serif;*/
/*  position: absolute;*/
/*  left: 110px;*/
/*  top: 48px;*/
/*}*/
