<div class="devizSlova">
  <div class="devizzz">
    <div class="img-deviz">
      <img src="https://img.freepik.com/free-photo/flowers-border-isolated-on-white-background_23-2147874328.jpg?size=626&ext=jpg" style="width:1320px; height:600px">
      <h1>Project is done by:</h1>
    </div>
  </div>
</div>
<div class="card-deck">
  <div class="card text-white bg-warning mb-3 h-50">
    <div class="card-body">
      <h5 class="card-title">Bimurzaeva Maria</h5>
      <button type="button" class="btn"><a href="https://t.me/mashabim01" class="awka">Telegram chat</a></button>
    </div>
  </div>
  <div class="card text-white bg-danger mb-3 h-50">
    <div class="card-body">
      <h5 class="card-title">Bakhitzhan Ayazhan</h5>
      <button type="button" class="btn"><a href="https://t.me/ayabxt" class="awka">Telegram chat</a></button>
    </div>
  </div>
  <div class="card text-white bg-success mb-3 h-50">
    <div class="card-body">
      <h5 class="card-title">Giniyatova Aruzhan</h5>
      <button type="button" class="btn"><a href="https://t.me/Geniuschocolate" class="awka">Telegram chat</a></button>
    </div>
  </div>
</div>
