<div class="limiter">
		<div class="container-login">
			<div class="login">
				<form class="login-form">
					<span class="title">
						Sign in
					</span>

					<div class="wrap-input">
						<span class="label-input">Username</span>
						<input class="input" type="text" [(ngModel)]="username" [ngModelOptions]="{standalone: true}" placeholder="Введите логин">
<!--						<span class="symbol" data-symbol="&#9830;"></span>-->
					</div>

          <br>

					<div class="wrap-input">
						<span class="label-input">Password</span>
						<input class="input" type="password"  [(ngModel)]="password" [ngModelOptions]="{standalone: true}"   placeholder="Введите пароль">
<!--						<span class="symbol" data-symbol="&#9830;"></span>-->
					</div>

					<br>

					<div class="container-btn">
						<div class="wrap-btn">
							<div class="bgbtn"></div>
							<button class="btn"  (click) = "auth(username , password)" >
								Login
							</button>
						</div>
					</div>
          <div class = "label-input">
            Forget password?
          </div>

				</form>
			</div>
		</div>
	</div>

