<div class="container-fluid">
  <div class="row">
    <div class="img-wrap">
      <img src = "https://images.squarespace-cdn.com/content/v1/5cd30828b10f2515181e2218/1583873991695-Q3OM5KJE8E1OKAKBU840/ke17ZwdGBToddI8pDm48kLnfZvQ9iwxKU6eubAUQjId7gQa3H78H3Y0txjaiv_0fDoOvxcdMmMKkDsyUqMSsMWxHk725yiiHCCLfrh8O1z5QPOohDIaIeljMHgDF5CVlOqpeNLcJ80NK65_fV7S1Uf479GMBNBfhHsrrjiU7oVFJ8_wlwITqu6jJqO9L0NwOoT__5iE7svB1u_pQDzoSaA/Copy+of+Blair_Banner+images+%282%29.jpg" data-image-dimensions="2000x1000" data-image-focal-point="0.5,0.5" data-load="false" />
      <h1>BEST BEAUTY ITEMS</h1>
      <h2>SKIN|HAIR|BODY|LASH|BROWS|LIPS</h2>
    </div>
  </div>
</div>


